Repository danfimov/taskiq-postgres: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff, mypy, bandit, zizmor

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.3.0
    hooks:
    -   id: conventional-pre-commit
        stages: [commit-msg]

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: mixed-line-ending
    -   id: check-case-conflict
    -   id: check-ast
    -   id: check-toml
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: end-of-file-fixer

-   repo: https://github.com/crate-ci/typos
    rev: v1.38.1
    hooks:
      - id: typos

-   repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
    -   id: detect-secrets
        args: [
            '--exclude-lines', 'look_in_vault',
            '--exclude-lines', 'taskiq_postgres',
            '--exclude-lines', 'postgresql://postgres:postgres@localhost:5432/postgres',
        ]

-   repo: local
    hooks:
    -   id: ruff
        name: Ruff
        entry: make ruff
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

    -   id: mypy
        name: Mypy
        entry: make mypy
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

    -   id: bandit
        name: bandit
        entry: uv run --active --frozen bandit -c pyproject.toml -r src
        language: python
        types: [python]
        require_serial: true
        verbose: true
        pass_filenames: false

    -   id: zizmor
        name: zizmor
        language: python
        entry: uv run --active --frozen zizmor .
        files: ^\.github
        require_serial: true
        verbose: true
        pass_filenames: false

chore(tests): add uvloop for faster asyncio loop in tests
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: ruff, mypy, bandit

feat: add optional methods for schedule sources
  Makefile
  docs/tutorial/schedule_source.md
  pyproject.toml
  src/taskiq_pg/_internal/broker.py
  src/taskiq_pg/_internal/schedule_source.py
  src/taskiq_pg/aiopg/queries.py
  src/taskiq_pg/aiopg/schedule_source.py
  src/taskiq_pg/asyncpg/queries.py
  src/taskiq_pg/asyncpg/schedule_source.py
  src/taskiq_pg/psqlpy/queries.py
  src/taskiq_pg/psqlpy/schedule_source.py
  src/taskiq_pg/psycopg/queries.py
  src/taskiq_pg/psycopg/schedule_source.py
  tests/integration/test_schedule_source.py
  uv.lock
Due: ruff, mypy, bandit

chore: add licence details to destribution
  pyproject.toml
Due: none

chore: add issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Due: zizmor

tml
  src/taskiq_pg/_internal/schedule_source.py
  src/taskiq_pg/aiopg/schedule_source.py
  src/taskiq_pg/asyncpg/schedule_source.py
  src/taskiq_pg/psqlpy/schedule_source.py
  src/taskiq_pg/psycopg/schedule_source.py
Due: ruff, mypy, bandit

Deployed 9f8001a with MkDocs version: 1.6.1
  404.html
  assets/stylesheets/main.2a3383ac.min.css
  assets/stylesheets/main.2a3383ac.min.css.map
  assets/stylesheets/main.84d31ad4.min.css
  assets/stylesheets/main.84d31ad4.min.css.map
  contributing/index.html
  index.html
  objects.inv
  reference/index.html
  search/search_index.json
  sitemap.xml.gz
  tutorial/common_issues/index.html
  tutorial/schedule_source/index.html
Due: none

ci: fix documentation release
  .github/workflows/release_docs.yml
Due: zizmor

ci: persist credentials to run deploy
  .github/workflows/release_docs.yml
Due: zizmor

ci: delete workflow_dispatch section
  .github/workflows/release_docs.yml
Due: zizmor

ci: final version of docs release pipeline
  .github/workflows/release_docs.yml
Due: zizmor

chore: update taskiq version and remove unused MANIFEST.in
  .pre-commit-config.yaml
  MANIFEST.in
  pyproject.toml
  uv.lock
Due: none

fix: make sure that scheduler works with interval
  examples/example_with_schedule_source.py
  src/taskiq_pg/_internal/schedule_source.py
  src/taskiq_pg/aiopg/schedule_source.py
  src/taskiq_pg/asyncpg/schedule_source.py
  src/taskiq_pg/psqlpy/schedule_source.py
  src/taskiq_pg/psycopg/schedule_source.py
  tests/integration/test_schedule_source.py
Due: ruff, mypy, bandit

chore: bump version in pyproject.toml
  pyproject.toml
  uv.lock
Due: none

feat: add python 3.14 support
  .github/workflows/code-check.yml
  pyproject.toml
Due: zizmor

chore: update uvloop to version that support python 3.14
  pyproject.toml
  uv.lock
Due: none

chore: update package versions
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: none

feat: add ability to store and get progress
  src/taskiq_pg/_internal/result_backend.py
  src/taskiq_pg/aiopg/queries.py
  src/taskiq_pg/aiopg/result_backend.py
  src/taskiq_pg/asyncpg/queries.py
  src/taskiq_pg/asyncpg/result_backend.py
  src/taskiq_pg/psqlpy/broker.py
  src/taskiq_pg/psqlpy/queries.py
  src/taskiq_pg/psqlpy/result_backend.py
  src/taskiq_pg/psycopg/broker.py
  src/taskiq_pg/psycopg/queries.py
  src/taskiq_pg/psycopg/result_backend.py
  tests/integration/test_broker.py
  tests/integration/test_result_backend.py
  tests/integration/test_schedule_source.py
Due: ruff, mypy, bandit

fix: issue that asyncpg.Pool is not subscriptable (python 3.13 and below)
  src/taskiq_pg/asyncpg/result_backend.py
Due: ruff, mypy, bandit

feat: add query to add progress column automatically and fix issues
  src/taskiq_pg/aiopg/queries.py
  src/taskiq_pg/aiopg/result_backend.py
  src/taskiq_pg/asyncpg/queries.py
  src/taskiq_pg/asyncpg/result_backend.py
  src/taskiq_pg/psqlpy/queries.py
  src/taskiq_pg/psqlpy/result_backend.py
  src/taskiq_pg/psycopg/queries.py
  src/taskiq_pg/psycopg/result_backend.py
  tests/integration/conftest.py
  tests/integration/test_result_backend.py
Due: ruff, mypy, bandit

docs: add example and docs with set_progress/get_progress
  docs/tutorial/result_backend.md
  examples/example_with_progress.py
  mkdocs.yml
Due: ruff, mypy, bandit

fix: set_progress query parameters
  src/taskiq_pg/aiopg/result_backend.py
  src/taskiq_pg/psycopg/result_backend.py
Due: ruff, mypy, bandit

chore(ci): tests with different postgres versions
  .github/workflows/code-check.yml
Due: zizmor

chore(ci): add path ignore for tests
  .github/workflows/code-check.yml
Due: zizmor

docs: fix badge in readme
  README.md
Due: none

feat: add ability to pass existing connection pools
  pyproject.toml
  src/taskiq_pg/_internal/broker.py
  src/taskiq_pg/_internal/result_backend.py
  src/taskiq_pg/_internal/schedule_source.py
  src/taskiq_pg/aiopg/result_backend.py
  src/taskiq_pg/aiopg/schedule_source.py
  src/taskiq_pg/asyncpg/broker.py
  src/taskiq_pg/asyncpg/result_backend.py
  src/taskiq_pg/asyncpg/schedule_source.py
  src/taskiq_pg/psqlpy/broker.py
  src/taskiq_pg/psqlpy/result_backend.py
  src/taskiq_pg/psqlpy/schedule_source.py
  src/taskiq_pg/psycopg/broker.py
  src/taskiq_pg/psycopg/result_backend.py
  src/taskiq_pg/psycopg/schedule_source.py
  tests/integration/test_shared_pool.py
  uv.lock
Due: ruff, mypy, bandit

fix: some tests with psqlpy
  src/taskiq_pg/psqlpy/result_backend.py
  src/taskiq_pg/psqlpy/schedule_source.py
Due: ruff, mypy, bandit

fix: type checks
  src/taskiq_pg/psqlpy/broker.py
  src/taskiq_pg/psycopg/broker.py
Due: ruff, mypy, bandit

docs: fix doc-strings
  src/taskiq_pg/aiopg/result_backend.py
  src/taskiq_pg/asyncpg/broker.py
  src/taskiq_pg/asyncpg/result_backend.py
  src/taskiq_pg/psqlpy/result_backend.py
  src/taskiq_pg/psycopg/result_backend.py
Due: ruff, mypy, bandit

fix: use notifies().aclose() only if we own connection
  src/taskiq_pg/psycopg/broker.py
Due: ruff, mypy, bandit

docs: add dedicated page about shared connection pool
  docs/tutorial/sharing_pool.md
  examples/example_with_shared_pool.py
  mkdocs.yml
  src/taskiq_pg/psycopg/broker.py
  src/taskiq_pg/psycopg/result_backend.py
  src/taskiq_pg/psycopg/schedule_source.py
Due: ruff, mypy, bandit

chore: update dev deps
  pyproject.toml
  uv.lock
Due: none

feat: add ability to use existing connections and connection pools (#54)
  docs/tutorial/sharing_pool.md
  examples/example_with_shared_pool.py
  mkdocs.yml
  pyproject.toml
  src/taskiq_pg/_internal/broker.py
  src/taskiq_pg/_internal/result_backend.py
  src/taskiq_pg/_internal/schedule_source.py
  src/taskiq_pg/aiopg/result_backend.py
  src/taskiq_pg/aiopg/schedule_source.py
  src/taskiq_pg/asyncpg/broker.py
  src/taskiq_pg/asyncpg/result_backend.py
  src/taskiq_pg/asyncpg/schedule_source.py
  src/taskiq_pg/psqlpy/broker.py
  src/taskiq_pg/psqlpy/result_backend.py
  src/taskiq_pg/psqlpy/schedule_source.py
  src/taskiq_pg/psycopg/broker.py
  src/taskiq_pg/psycopg/result_backend.py
  src/taskiq_pg/psycopg/schedule_source.py
  tests/integration/test_shared_pool.py
  uv.lock
Due: ruff, mypy, bandit

chore: bump dependency versions
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/code-check.yml
  .pre-commit-config.yaml
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: ruff, mypy, bandit, zizmor

fix: drop EOL python 3.10
  pyproject.toml
Due: none

fix: bump dependency versions and drop support for EOL Python 3.10 (#62)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/code-check.yml
  .pre-commit-config.yaml
  pyproject.toml
  tests/conftest.py
  uv.lock
Due: ruff, mypy, bandit, zizmor

feat: add helper to format dsn before passing it to driver
  src/taskiq_pg/_internal/broker.py
  src/taskiq_pg/_internal/result_backend.py
  src/taskiq_pg/_internal/schedule_source.py
  src/taskiq_pg/_internal/utils.py
  src/taskiq_pg/asyncpg/broker.py
  src/taskiq_pg/asyncpg/result_backend.py
  src/taskiq_pg/asyncpg/schedule_source.py
  src/taskiq_pg/asyncpg/utils.py
Due: ruff, mypy, bandit

feat: strip sqlalchemy-like dsn prefix
  pyproject.toml
  src/taskiq_pg/_internal/broker.py
  src/taskiq_pg/_internal/result_backend.py
  src/taskiq_pg/_internal/schedule_source.py
  src/taskiq_pg/_internal/utils.py
  src/taskiq_pg/asyncpg/result_backend.py
  tests/integration/test_dsn_helper.py
Due: ruff, mypy, bandit

feat: add helper to format dsn before passing it to driver (#63)
  pyproject.toml
  src/taskiq_pg/_internal/broker.py
  src/taskiq_pg/_internal/result_backend.py
  src/taskiq_pg/_internal/schedule_source.py
  src/taskiq_pg/_internal/utils.py
  src/taskiq_pg/asyncpg/result_backend.py
  tests/integration/test_dsn_helper.py
Due: ruff, mypy, bandit

chore: migrate from mkdocs to zensical
  .github/workflows/release_docs.yml
  Makefile
  mkdocs.yml
  pyproject.toml
  uv.lock
  zensical.toml
Due: zizmor

chore: migrate from mkdocs to zensical (#64)
  .github/workflows/release_docs.yml
  Makefile
  mkdocs.yml
  pyproject.toml
  uv.lock
  zensical.toml
Due: zizmor
